.commentary-error { 
    background-color: #900;
    color: #fff;
    border: 3px solid #000;
}

.commentary-comment { 
    background-color: #ff8;
    color: #000;
    border-top: 2px solid #ffc;
    border-left: 2px solid #ffc;
    border-bottom: 2px solid #cc7;
    border-right: 2px solid #cc7;
    padding: 5px;
    /* Try to undo any inherited styling: */
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
}

.commentary-comment textarea,
.commentary-comment input { 
    border: 1px solid #bb5;
    background-color: #ffd;
}

.commentary-comment button { 
    color: #fff;
    background-color: #666;
}

.commentary-inline { 
    float: right;
    width: 35%;
    min-width: 100px;
}

.commentary-new-comment { 
    border: 2px solid #f00;
}

.commentary-selected-element { 
    background-color: #eef;
}

.commentary-unselected { 
    color: #999;
}

.commentary-headers { 
    font-size: x-small;
    color: #333;
}

a.commentary-button img { 
    border: none;
    border-top: 1px solid #ffc;
    border-left: 1px solid #ffc;
    border-bottom: 1px solid #cc7;
    border-right: 1px solid #cc7;
    text-decoration: none;
}

a:hover.commentary-button { 
    border-top: 1px solid #cc7;
    border-left: 1px solid #cc7;
    border-bottom: 1px solid #ffc;
    border-right: 1px solid #ffc;    
    background-color: inherit;
}

.commentary-header-data { 
    border-top: 1px solid #cc7;
    border-left: 1px solid #cc7;
    border-bottom: 1px solid #ffc;
    border-right: 1px solid #ffc;
    padding: 2px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3px;
}
